<div class="container-client">


    <div style="display: flex;">

        <label class="label-title">Nombre: </label> <input class="input-name" disabled [value]="client.primer_nombre + '  ' + client.segundo_nombre + '  ' + client.primer_apellido + '   ' + client.segundo_apellido" >
    </div>


    <div style="display: flex;">

        <label class="label-title">Fecha de nacimiento: </label> <input class="input-birth-date" disabled [value]="client.fecha_nacimiento" >
        <label style="margin-left: 50px;" class="label-title">Edad: </label> <input class="input-age" disabled [value]="client.edad" >
    </div>


    <div style="display: flex;">
        <label class="label-title">Meta consumo diario: </label> <input class="input-daily" disabled [value]="client.meta_consumo_diario + ' kcal'" >
        <label style="margin-left: 95px;" class="label-title">País: </label> <input class="input-country" disabled [value]="client.pais" >
    </div>

    <div style="width: 100%; height: 100%;">

        <div class="container-button-add">

            <div *ngIf="url == '/patient-overview'" style="display: flex;">
                <button class="btn btn-info" (click)="showOverview()"> Seguimiento</button>
                <button class="btn btn-success" (click)="showAssing()"> Asignar plan</button>
                <button class="btn btn-danger" (click)="unassignClient()"> Desasociar</button>
            
            </div>
   
    
            <button *ngIf="url == '/assign-client'" class="btn btn-success" (click)="assignClient()"> Agregar</button>
         
        </div>

    </div>








</div>