.container-client {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    border: 3px solid #508AA8;
    margin-bottom: 20px;
    width: 610px;
    background-color: #FAFAFA;
    align-items: flex-start;


}


.label-title {
    margin-left: 10px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    padding: 3px;
    margin-top: 20px;
    color:black;
}

input {
    color: black;
    margin-top: 13px;
    border-radius: 20px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    font-size: 15px;
    background-color: rgb(218, 216, 216);
}

.input-name {
    width: 300px;
}

.input-birth-date {
    width: 150px;
}

.input-age {
    width: 80px;
}

.input-height {
    width: 80px;

}

.input-daily {
    width: 100px;
}

.input-country {
    width: 150px;

}

.container-button-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;

}


.container-button {
    display: flex;
    flex-direction: column;

}

.container-info {
    display: flex;
    flex-direction: column;
}