<div>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <app-alerts></app-alerts>


        <div class="frame">


            <h1 class="text-white">Historial de medidas</h1>

            <div>

                <h2 class="text-primary subtittle">Medidas actuales</h2>

                <div *ngIf="ready_medidas == true" class="row">
                    <div class="col data"><span>Peso:{{measures.peso}}kg</span></div>
                    <div class="col data"><span>% de músculo: {{measures.porcentaje_musculo}}%</span></div>
                    <div class="col data"><span>% de grasa: {{measures.porcentaje_grasa}}%</span></div>
                    <div class="w-100"></div>
                    <div class="col data"><span>Medida de cintura:{{measures.cintura}}cm</span></div>
                    <div class="col data"><span>Medida de cadera:{{measures.cadera}}cm</span></div>
                    <div class="col data"><span>Medida de cuello:{{measures.cuello}}cm</span></div>
                </div>


       
                <h2 class="text-primary subtittle">Historial</h2>

                <div class="container-search-dates">

                    <div style="display: flex; flex-direction: column;">
                        <label class="text-white">Fecha incio: </label>
                        <input type="date" [(ngModel)]="from_date" >
                    </div>

                    <div style="display: flex; flex-direction: column;">
                        <label class="text-white">Fecha final: </label>
                        <input type="date" [(ngModel)]="to_date" >
                    </div>

                    <div>
                        <button class="search-button" (click)=search()> Buscar </button>
                    </div>
                    
            
                </div>


                <div class="container">
                    <canvas [ngStyle]="{'display': show_pesos ? '' : 'none'}" id="pesos_canvas">{{pesos_chart}}</canvas>
                    <canvas [ngStyle]="{'display': show_medidas ? '' : 'none'}"
                        id="medidas_canvas">{{medidas_chart}}</canvas>
                    <canvas [ngStyle]="{'display': show_indices ? '' : 'none'}"
                        id="indices_canvas">{{indices_chart}}</canvas>
                    <div class="row">
                        <button type="button" class="btn btn-primary btn-lg col " (click)="toggle_graph(0)">Historial de
                            peso</button>
                        <button type="button" class="btn btn-primary btn-lg col " (click)="toggle_graph(1)">Historial de
                            medidas</button>
                        <button type="button" class="btn btn-primary btn-lg col" (click)="toggle_graph(2)">Historial de
                            índices</button>
                    </div>
                </div>


                <div *ngIf="ready_table == true">
                    <div class="bill" id="pdfTable" #pdfTable>
                        <h1>Reporte de medidas NutriTEC</h1>
                        <h3>NutriTec Costa Rica S.A.</h3>

                        <h2>Histórico de peso</h2>

                        <table>
                            <tr>
                                <th>Fecha</th>
                                <th>Peso</th>
                            </tr>
                            <tr *ngFor="let dato of plain_data; index as i ">
                                <td>{{dato.fecha}}</td>
                                <td>{{dato.peso}}kg</td>
                            </tr>
                        </table>

                            <br>
                            <h2>Histórico de medidas</h2>
                        <table>
                            <tr>
                                <th>Fecha</th>
                                <th>Cintura</th>
                                <th>Cadera</th>
                                <th>Cuello</th>
                            </tr>
                            <tr *ngFor="let dato of plain_data; index as i ">
                                <td>{{dato.fecha}}</td>
                                <td>{{dato.cintura}}cm</td>
                                <td>{{dato.cadera}}cm</td>
                                <td>{{dato.cuello}}cm</td>
                            </tr>
                        </table>

                            <br>
                            <h2>Histórico de índices</h2>
                        <table>
                            <tr>
                                <th>Fecha</th>
                                <th>Grasa</th>
                                <th>Músculo</th>
                            </tr>
                            <tr *ngFor="let dato of plain_data; index as i ">
                                <td>{{dato.fecha}}</td>
                                <td>{{dato.porcentaje_grasa}}%</td>
                                <td>{{dato.porcentaje_musculo}}%</td>
                            </tr>

                        </table>
                    </div>
                    <button type="button" class="btn btn-primary btn-link" (click)="downloadAsPDF()">Descargar
                        PDF</button>
                </div>
            </div>
        </div>


    </section>
</div>