
<app-alerts></app-alerts>
<div class="container-add-edit-plan">
  
    <div>
        <form>
            <div>
                <label for="name_plan"></label>
                <input
                    type="text"
                    class="input-name-plan"
                    name="name_plan"
                    [(ngModel)]="name_plan"
                    id="name_plan"
                    placeholder="Nombre del plan"
                >
            </div>

            <br>
            <div style="display: flex; flex-direction: column;">
                <label>Tiempo de comida</label>
                <select class="select-time-food" [(ngModel)]="current_time_food" name="time_food" (change)="updateTimeFood()">
                    <option>Desayuno</option>
                    <option>Merienda mañana</option>
                    <option>Almuerzo</option>
                    <option>Merienda tarde</option>
                    <option>Cena</option>
                </select>

            </div>

        </form>

        <br>

        <div>
            <div class="container-input-productList">
                <input type=text class="input-filter" placeholder="Buscar productos..." [(ngModel)]="filterProducts">
                <div class="products-list">
                    <app-product *ngFor="let product of products | filter:filterProducts" [product]="product" [url]="url" (add_producto_time_food_plan)="add_producto_time_food_plan()"   ></app-product>
                </div>    
            </div>
        </div>

        <br>

        <div style="display: flex; justify-content: space-around; align-items: center;">

            <button (click)="applyChanges()" class="btn btn-success"> Aplicar</button>
            <button (click)="cancel()" class="btn btn-secondary"> Cancel</button>
        </div>
   </div>

   <div style="display: flex; flex-direction: column; align-items: center;">
        <label class="text-black">Productos Seleccionados:</label>
        <div class="container-productSelected">

            <app-item-product *ngFor="let product_selected of products_selected" [product_selected]="product_selected" (update_porcion)="update_porcion($event)" (delete_product)="delete_product($event)"></app-item-product>

        </div>
   </div>








</div>