
<div class="plan-item">


    <div class="container-info">

        <div style="display: flex;">
            <label class="label-title">Nombre: </label > <label class="label-info">{{plan.nombre}}</label>
        </div>

        <div style="display: flex;">
            <label class="label-title">Nutricionista: </label> <label class="label-info">{{plan.nutricionista}}</label>
        </div>

        <div style="display: flex;">
            <label class="label-title">Total calorías: </label> <label class="label-info"> {{plan.calorias}}</label>
        </div>


        <br>


        <div style="display: flex; flex-direction: column; align-items: center;">

            <div class="container-time-food">

                <div>
                    <label>Desayuno</label>
                </div>
    
                <div>
    
                    <button class="btn btn-info" (click)="showBreakfastInfo()"> Mostrar</button>
                    <button class="btn edit-button"> Editar</button>
    
                </div>
            </div>
    
    
            <div class="container-time-food">
    
                <div>
                    <label>Merienda mañana</label>
                </div>
    
                <div>
    
                    <button class="btn btn-info" (click)="showInfo()"> Mostrar</button>
                    <button class="btn edit-button"> Editar</button>
    
                </div>
    
            </div>
    
    
            <div class="container-time-food">
    
                <div>
                    <label>Almuerzo</label>
                </div>
    
                <div>
    
                    <button class="btn btn-info" (click)="showInfo()"> Mostrar</button>
                    <button class="btn edit-button"> Editar</button>
    
                </div>
            </div>
    
            <div class="container-time-food">
                <div>
                    <label>Merienda tarde</label>
                </div>
    
                <div>
    
                    <button class="btn btn-info" (click)="showInfo()"> Mostrar</button>
                    <button class="btn edit-button"> Editar</button>
    
                </div>
            </div>
    
            <div class="container-time-food">
                <div>
                    <label>Tarde</label>
                </div>
    
                <div>
    
                    <button class="btn btn-info" (click)="showInfo()"> Mostrar</button>
                    <button class="btn edit-button"> Editar</button>
    
                </div>
            </div>


        </div>
 
    </div>







    <div class="container-button">

 
    </div>

    
         

</div>
        