.plan-item {
    display: flex;
    flex-direction: column;
    border: 3px solid #92374D;
    width: 600px;
    margin-top: 10px;
    border-radius: 20px;
}

.container-info-plan {
    display: grid; 
    grid-template-columns: 1fr 200px; 
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
}


.container-button-edit {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.container-button-edit button {
    margin-top: 5px;
}


.container-times-food {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-left: 50px;
    margin-bottom: 10px;
}

.container-time-food {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: 15px;
    margin-top: 10px;
}


label {
    color: white;
    font-size: 20px;

}

.label-info {
    font-weight: bold;
    margin-left: 7px;
}

.edit-button {
    background-color: orange;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

}