<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <app-alerts></app-alerts>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-5">

                <h3>Bienenido a NutriTec</h3>
                <br>

                <form role="form">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Correo electronico" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group" >
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Contraseña" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
            
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4" (click)="login()">Ingresar</button>
                  </div>

                  <div class="row mt-3">
                    <div class="col-6 text-center">
                      <a href="#/login-nutritionist" class="text-light">
                        <small>Ingresar como nutricionista</small>
                      </a>
                    </div>
                    <div class="col-5 text-center">
                      <a href="#/register-client" class="text-light">
                        <small>Registrarse como cliente</small>
                      </a>
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  