
    <div class="product-item">

        <div class="dropdown">

            <button (click)="toggleShowMe()" [ngStyle]="showMe ? {'background-color':'#92374D'} : {'background': 'white'}" class="product-button btn btn-outline-danger btn-round"> 
                

                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 20px;" >

                    <div>

                        <label>  <strong> Producto: </strong> {{product.nombre}} </label>  


                    </div>

                    <div>
                        <label style="margin-left: 10px;">  <strong> Código de barras: </strong> {{product.barcode}}  </label>

                    </div>
                
                    <div>
                        
                    </div>
    
                </div>
         
            </button>

        </div>

  
            <div *ngIf="showMe" class="product-data">


                <div class="info-general">

                    <div>
                        
                        <span class="badge badge-pill badge-info">Descripción: </span> <strong class="text-muted mb-0"> {{product.descripcion}}</strong>

                    </div>

                    <div>

                        <span class="badge badge-pill badge-info">Tamaño de porción: </span> <strong class="text-muted mb-0"> {{product.porcion}} </strong>
                        

                    </div>


            

                </div>


                <br>



                <div class="data">


                    <div>

                        <label>

                            <ul>

                                <li>
                                    <span class="badge badge-primary">Proteína:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.proteina}} g</span>
                                </li>
        
                                <li>
                                    <span class="badge badge-primary">Vitamina:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.vitamina}}</span>
                                </li>
        
                                <li>
                                    <span class="badge badge-primary">Calcio:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.calcio}} mg</span>
                                </li>
        
                                <li>
                                    <span class="badge badge-primary">Hierro:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.hierro}} mg</span>
                                </li>
        
    
                            </ul>
            
                        </label>
                    </div>

                    <div>
                        <label>

                            <ul>
            
                                <li>
                                    <span class="badge badge-primary">Energía:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.energia}} Kcal</span>

                                </li>
            
                                <li>
                                    <span class="badge badge-primary">Grasa:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.grasa}} g</span>
                                </li>
        
                                <li>
                                    <span class="badge badge-primary">Sodio:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.sodio}} mg</span>
                                </li>
        
                                <li>
                                    <span class="badge badge-primary">Carbohidratos:</span> <span style="margin-left: 10px;" class="badge badge-pill badge-dark"> {{product.carbohidratos}} g</span>
                                </li>
        

                            </ul>
            
                        </label>
                    </div>

                  
    

                </div>

            

                <div class="option-button">
                
                    <button *ngIf="url == '/products-approval'" class="aprove-button btn btn-1 btn-success" (click)="acceptProduct()"> Aprobar </button>
                    <button *ngIf="url == '/products-approval'" class="reject-button btn btn-1 btn-danger" (click)="rejectProduct()"> Rechazar </button>

                    <button *ngIf="url == '/manager-recipe' || url == '/manager-plan' || url === '/assign-plan'" class="aprove-button btn btn-1 btn-success" (click)="addProduct()"> Agregar </button>
                
                </div>

            </div>
        
        </div>