
<div>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>


        <app-alerts></app-alerts> 




        <div class = "frame">

  
          <h1 class="text-white">Gestión de productos</h1>


          <div class="form-container">

            <form class="form-group" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <label for="codigo_barras"></label>
                    <input
                        type="number"
                        name="codigo_barras"
                        [(ngModel)]="codigo_barras"
                        id="codigo_barras"
                        placeholder="Codigo de barras"
                    >
                </div>


                <div class="form-group">
                    <label for="descripcion"></label>
                    <input
                        type="text"
                        name="descripcion"
                        [(ngModel)]="descripcion"
                        id="descripcion"
                        placeholder="Descripción"
                    >
                </div>


                <div class="form-group">
                    <label for="porcion"></label>
                    <input
                        type="number"
                        name="porcion"
                        [(ngModel)]="porcion"
                        id="porcion"
                        placeholder="Porción"
                    >
                </div>


                <div class="form-group input-container">

                    <div>
                        <label for="grasa"></label>
                        <input
                            type="number"
                            name="grasa"
                            [(ngModel)]="grasa"
                            id="grasa"
                            placeholder="Grasa"
                        >
                    </div>

                    <div>

                        <label for="energia"></label>
                        <input
                            type="number"
                            name="energia"
                            [(ngModel)]="energia"
                            id="energia"
                            placeholder="Energía"
                        >


                    </div>

         
                </div>

                
                <div class="form-group input-container">

                    <div>
           
                    <label for="sodio"></label>
                    <input
                        type="number"
                        name="sodio"
                        [(ngModel)]="sodio"
                        id="sodio"
                        placeholder="Sodio"
                    >

                    </div>


                    <div>

                        <label for="vitaminas"></label>
                        <input
                            type="number"
                            name="vitaminas"
                            [(ngModel)]="vitaminas"
                            id="vitaminas"
                            placeholder="Vitaminas"
                        >



                    </div>

                </div>


                <div class="form-group input-container">

                    <div>

                        <label for="proteina"></label>
                        <input
                            type="number"
                            name="proteina"
                            [(ngModel)]="proteina"
                            id="proteina"
                            placeholder="Proteina"
                        >
                    </div>

                    <div>

                        <label for="carbohidratos"></label>
                        <input
                            type="number"
                            name="carbohidratos"
                            [(ngModel)]="carbohidratos"
                            id="carbohidratos"
                            placeholder="Carbohidratos"
                        >

                    </div>


            
                </div>

                <div class="form-group input-container">


                    <div>

                        <label for="calcio"></label>
                        <input
                            type="number"
                            name="calcio"
                            [(ngModel)]="calcio"
                            id="calcio"
                            placeholder="Calcio"
                        >
                    </div>

                    <div>

                        <label for="hierro"></label>
                        <input
                            type="number"
                            name="hierro"
                            [(ngModel)]="hierro"
                            id="hierro"
                            placeholder="Hierro"
                        >
                    </div>
         
                
                </div>

                <br>

                <input type="submit" value="Agregar producto" class="btn btn-block button-submit">
            

            </form>





          </div>



          

        </div>

    </section>

</div>
