<div class="container-show-recipe-info">

    <h1 class="header-info-nutritional-recipe"> Información nutricional de la receta</h1>

        <div class="data">
            
            <div>

                <label>

                    <ul>

                        <li>
                            <span class="label label-info">Proteína:</span> <span  class="label label-info">{{this.proteina}} g</span>
                        </li>

                        <li>
                            <span class="label label-info">Vitamina:</span> <span class="label label-info"> {{this.vitamina}} </span>
                        </li>

                        <li>
                            <span class="label label-info">Calcio:</span> <span  class="label label-info"> {{this.calcio}} mg</span>
                        </li>

                        <li>
                            <span class="label label-info">Hierro:</span> <span  class="label label-info"> {{this.hierro}} mg</span>
                        </li>


                    </ul>
    
                </label>
            </div>

            <div>
                <label>

                    <ul>
    
                        <li>
                            <span class="label label-info">Energía:</span> <span class="label label-info"> {{this.energia}}   Kcal</span>

                        </li>
    
                        <li>
                            <span class="label label-info">Grasa:</span> <span class="label label-info"> {{this.grasa}}  g</span>
                        </li>

                        <li>
                            <span class="label label-info">Sodio:</span> <span  class="label label-info"> {{this.sodio}}  mg</span>
                        </li>

                        <li>
                            <span class="label label-info">Carbohidratos:</span> <span class="label label-info"> {{this.carbohidratos}}  g</span>
                        </li>


                    </ul>
    
                </label>
            </div>

        </div>


        <div class="container-button-close">

            <button class="btn btn-secondary" (click)="close()"> Cerrar</button>

        </div>
    
</div>



