<div>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <app-alerts></app-alerts>

        <div class = "frame">

  
            <h1 class="text-white">Registro de medidas</h1>
  
  
            <div class="form-container">
  
                <form class="form-group" (ngSubmit)="onSubmit()">


                    <div class="form-group input-container">
    
                        <div>
                            <label for="peso"></label>
                            <input
                                type="number"
                                name="peso"
                                [(ngModel)]="peso"
                                id="peso"
                                placeholder="Peso actual en kg"
                            >
                        </div>
    
    
                        <div class="form-group">
                            <label for="musculo"></label>
                            <input
                                type="number"
                                name="musculo"
                                [(ngModel)]="musculo"
                                id="musculo"
                                placeholder="% de músculo"
                            >
                        </div>
    
    
                        <div class="form-group">
                            <label for="grasa"></label>
                            <input
                                type="number"
                                name="grasa"
                                [(ngModel)]="grasa"
                                id="grasa"
                                placeholder="% de grasa"
                            >
                        </div>
    
    
                        <div class="form-group">
                            <label for="cadera"></label>
                            <input
                                type="number"
                                name="cadera"
                                [(ngModel)]="cadera"
                                id="cadera"
                                placeholder="Medida de cadera en cm"
                            >
                            
                        </div>

                        <div class="form-group">
                            <label for="cintura"></label>
                            <input
                                type="number"
                                name="cintura"
                                [(ngModel)]="cintura"
                                id="cintura"
                                placeholder="Medida de cintura en cm"
                            >
                        </div>
    
                        <div class="form-group">
                            <label for="cuello"></label>
                            <input
                                type="number"
                                name="cuello"
                                [(ngModel)]="cuello"
                                id="cuello"
                                placeholder="Medida de cuello en cm"
                            >
                        </div>
    
        
                    </div>


                    

                    <input type="submit" value="Registrar medidas" class="btn btn-block button-submit">
  
                </form>
        
            </div>
  
        </div>

    </section>
</div>