<div class="item-recipe">

    <div>

        <label> Nombre: {{recipe.name}}</label>



        <br>
        <h2  style="margin-top: 20px;"class="text-white">Productos:</h2>
        <div class="container-item-recipe-products">

            <table class="table table-dark table-striped">
                
              </table>

            <app-product *ngFor="let pr of recipe.products" [product]="pr.product"></app-product>





        </div>


    </div>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
        

    <button class="btn btn-warning btn-sm" (click)="editRecipe()">Editar</button>
    <button class="btn btn-danger btn-sm" (click)="deleteRecipe()">Eliminar</button>

    </div>


</div>