
<div>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class = "frame">
          <div class="container">
              <h1 class="text-white">Aprobacion de productos</h1>
    
              <app-product></app-product>
      
          </div>
      </div>

        
    </section>

</div>
