
<div>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class = "frame">

          <h1 class="text-white">Aprobación de productos</h1>
          
          <div class="container-product-approval">
            
  
            <app-product
              *ngFor="let product of products" [product]="product"></app-product>
    
          </div>

        </div>

    </section>

</div>
