
<div>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>


        <app-alerts></app-alerts>


        <div class = "frame">

     
            <h1 class="text-white">ASIGNACION DE PACIENTES</h1>


            <div class="container-clients">

                <div style="width: 100%; height: 50px;">

                    <input type=text class="input-filter" placeholder="Buscar clientes..." [(ngModel)]="filterClient">


                </div>


            
                <div *ngIf="show" class="container-client-list">
                    
                    <app-assign-client-item *ngFor="let client of clients_emitter | async | filterClients:filterClient" [client]="client" (assign_client)="assign_client($event)" ></app-assign-client-item>

                </div>








            </div>




            <div>


            </div>


            



      
        









        </div>

    </section>

</div>