<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
          <span></span>
          <span></span>
    
        </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src={{photo}} class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
     
              </div>
              <div class="col-lg-4 order-lg-1">
       
              </div>
            </div>
            
            <br>
            <br>
            <br>  
            <br>
            <br>
            <br>  

            
            <div class="text-center mt-5">

              <h1>Bienvenido: {{this.global.current_nutritionist.primer_nombre + " " + this.global.current_nutritionist.segundo_nombre + " " + this.global.current_nutritionist.primer_apellido + " " + this.global.current_nutritionist.segundo_apellido}}</h1>


                <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i> <strong> Codigo nutricionista: </strong>  {{this.global.current_nutritionist.codigo_nutricionista}}</div>
              <h3> <strong>Edad: </strong> {{this.global.current_nutritionist.edad}} años </h3>
              <h3> <strong>Dirección: </strong>{{this.global.current_nutritionist.direccion}}</h3>
              <h3> <strong>Fecha de nacimiento: </strong>{{this.global.current_nutritionist.fecha_nacimiento}}</h3>

            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <h2>
                      Informaciósn de pago
                  </h2>


              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i> <strong>Tarjerta de crédito: </strong>{{this.global.current_nutritionist.tarjeta}}</div>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i> <strong>Tipo de pago: </strong> {{this.global.current_nutritionist.tipo_cobro}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  