<div>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <app-alerts></app-alerts>

    <div *ngIf="ready == true ">
      <div class="container">
        <div class="tim-title text-primary tittle">
          <h1>Calendario nutricional</h1>
        </div>
        <div class="tim-title text-white">
          <h4>Mi nutricionista: {{nutricionista}} </h4>
        </div>
      </div>
      <div class = "calendar">
        <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
      </div>
    </div>
  </section>



</div>