<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a *ngIf="isClient()" class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/nutrilogoV.png">
    </a>
    <a *ngIf="isNutritionist()" class="navbar-brand mr-lg-5" [routerLink]="['/home-nutritionist']">
      <img src="./assets/img/brand/nutrilogoV.png">
    </a>
    <a *ngIf="isAdmin()" class="navbar-brand mr-lg-5" [routerLink]="['/products-approval']">
      <img src="./assets/img/brand/nutrilogoV.png">
    </a>
    <a *ngIf="!isLogged()" class="navbar-brand mr-lg-5">
      <img src="./assets/img/brand/nutrilogoV.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/nutrilogoV.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <!-- Dropdowns de cliente -->

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center" *ngIf="isClient()">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Mi plan</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['daily-register']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-circle-08"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Registro diario / Plan</h6>
                  <p class="description d-none d-md-inline-block mb-0">Aquí podras registar tus comidas diarias. Si contás con un nutriosionista tambien podrás ver tu plan personal.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Comidas</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['register-product']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-notification-70"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Proponer producto</h6>
                  <p class="description d-none d-md-inline-block mb-0">Proponé un producto para ser agregado globalmente por los administradores NutriTec.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['manager-recipe']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-collection"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Mis recetas</h6>
                  <p class="description d-none d-md-inline-block mb-0">Creá tus propias recetas a partir de los produtos que ofrece NutriTec.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Mis medidas</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['measurement-register']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-sound-wave"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Registrar medidas</h6>
                  <p class="description d-none d-md-inline-block mb-0">Resitrá tus medidas actuales para poder visualizar tu avance.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['personal-record']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-chart-bar-32"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Historial</h6>
                  <p class="description d-none d-md-inline-block mb-0">Descubrí tu avance analizando tu historial de medidas.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>


      <!-- Dropdowns de nutricionista -->


      <ul class="navbar-nav navbar-nav-hover align-items-lg-center" *ngIf="isNutritionist()">
              <li class="nav-item dropdown">
                <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                  <i class="ni ni-ui-04 d-lg-none"></i>
                  <span class="nav-link-inner--text">Pacientes</span>
                </a>
                <div class="dropdown-menu-xl dropdown-menu" >
                  <div class="dropdown-menu-inner">
                    <a routerLinkActive="active" [routerLink]="['assign-client']" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                        <i class="ni ni-badge"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-primary mb-md-1">Búsqueda y asociación de pacientes</h6>
                        <p class="description d-none d-md-inline-block mb-0">Busque a su paciente para poder asignarle planes nutricionales personalidados.</p>
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['patient-overview']" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-primary mb-md-1">Seguimiento de pacientes</h6>
                        <p class="description d-none d-md-inline-block mb-0">Analice las comidas que su paciente ha resgistrado y evalua su seguimineto del plan nutricional.</p>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                  <i class="ni ni-ui-04 d-lg-none"></i>
                  <span class="nav-link-inner--text">Planes</span>
                </a>
                <div class="dropdown-menu-xl dropdown-menu" >
                  <div class="dropdown-menu-inner">
                    <a routerLinkActive="active" [routerLink]="['manager-plan']" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                        <i class="ni ni-ruler-pencil"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-primary mb-md-1">Gestión de planes</h6>
                        <p class="description d-none d-md-inline-block mb-0">Cree planes nutricionales para sus clientes con productos NutriTec</p>
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['assign-plan']" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                        <i class="ni ni-collection"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-primary mb-md-1">Asignación de planes</h6>
                        <p class="description d-none d-md-inline-block mb-0">Asigne planes nutricionales a sus pacientes.</p>
                      </div>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['register-product']" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                        <i class="ni ni-notification-70"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-primary mb-md-1">Proponer producto</h6>
                        <p class="description d-none d-md-inline-block mb-0">Proponga un producto para ser agregado globalmente por los administradores NutriTec.</p>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
            </ul>


            
      <!-- Nav de admin -->


      <li class="nav-item" *ngIf="isAdmin()">
        <a style="color:#ffffff;" href="#/products-approval" class="nav-link">Aprovación de productos</a>
      </li>

      <li class="nav-item" *ngIf="isAdmin()">
        <a style="color:#ffffff;" href="#/billing" class="nav-link">Gestión de cobro</a>
      </li>


      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="isClient()">
          <a style="color:#ffffff;" href="#/login-client" class="nav-link">Cerrar sesión</a>
        </li>
        <li class="nav-item" *ngIf="isNutritionist()">
          <a style="color:#ffffff;" href="#/login-client" class="nav-link">Cerrar sesión</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a style="color:#ffffff;" href="#/login-client" class="nav-link">Cerrar sesión</a>
        </li>

      </ul>

      

    </div>
  </div>
</nav>
